body {
    background-color: blue !important;
}

.quizcard{
    width: 25rem;
}

.container{
    min-height: 100vh;
    background-color: blue !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    padding:12px;
}
